<link rel="stylesheet" type="text/css" href="/style.css">
<h3> Bookmarks </h3>
<% if @links.length == 0 %>
  No links found
<% end %>
<% @links.each do |link| %>
 <div class="panel-item">
 <h6><a target="_blank" href="<%= link.url %>"><%= link.title %></a></h6>
  Tags:
  <% if link.tags.length == 0 %>
    No tags
  <% end %>
  &nbsp;|
  <% link.tags.each do |tag| %>
    <a href="/tags/<%= tag.tag%>"><%= tag.tag%></a>&nbsp;|&nbsp;
  <% end %>

  <form class="form-inline my-2 my-lg-0" method='post' action='/links'>
    <input type='hidden' name='_method' value='delete'>
    <input type='hidden' name='id' value='<%= link.id %>'>
    </br>
    </br>
    <input class="btn btn-danger" type="submit" value="Delete" class="btn btn-primary">
  </form>
 </div>
 </br>
<% end %>
